################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CEPARCO-Group-1-Integrating-Project/FileContentIndex/6dc54981-d3b4-4b5b-b30d-390489c42fcb.vsidx
/.vs/CEPARCO-Group-1-Integrating-Project/FileContentIndex
/.vs/CEPARCO-Group-1-Integrating-Project/v17
/DFT/.vs/DFT/FileContentIndex
/DFT/.vs/DFT/v17/Browse.VC.db
/DFT/.vs/DFT/v17/Browse.VC.opendb
